<h2>Borrar tabla de sueldos</h2>

<div class="jumbotron">
	<div class="container">


<td><%= link_to "Borrar", sueldos_delete_path, id: "news", class: "btn btn-danger" %></td>
 
	</div>
    <br>	

</div>