<h1>Acerca de Sueldos CABA</h1>
<p>Una aplicación web que permite importar los sueldos de los funcionarios del poder ejecutivo
	de la Ciudad Autonoma de Buenos Aires publicados por el 
   <a href= "http://data.buenosaires.gob.ar/dataset/sueldo-funcionarios" target="_blank">
	Laboratorio de Gobierno de la Ciudad Autónoma de Buenos Aires</a> 
	(Ruby on Rails, Morris.js, Bootstrap)</p>
