<footer class="footer">
  <small>
  	<strong>
    Sueldos CABA - 2014 por Gustavo Pessacq
    </strong>
  </small>
  <nav>
	<ul>
	  <li><%= link_to "Acerca de Sueldos CABA", sueldos_about_path %></li>
	  <li><a href="http://tigerstrip.es/">Tigerstripes</a></li>
	</ul>
  </nav>
</footer>